<div id="wrapper">

  <h1>New York Mets Latest News!</h1>
  <h3><i>Please Use the Scrape Button to pull the latest articles</i></h3>
  <h5>Please be patient as the arcles are sorted through.</h5>

  <div id="empty-article-container">
You have successfully cleared your article search!  Please "SCRAPE" the latest articles for the latest news on the New York Mets. 
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../public/assets/js/index.js"></script>