<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Mets Latest News!</title>
    <style>
      body { background-color: rgb(252, 176, 36) }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
        border: 1px solid black;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: rgb(252, 244, 199);
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      
    </style>
  </head>
  <body>
    <div id="wrapper">
      <h1>Up to Date Sports News!</h1>
      <h2><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis doloribus magnam corporis nihil saepe perspiciatis aspernatur rem ipsa reiciendis animi. Ducimus, esse? Aperiam omnis, earum placeat est temporibus deserunt voluptatum.</i></h2>
      <div id="articles">
        ========WHERE ARE YOU ARTICLES===============
      </div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/assets/js/index.js"></script>
  </body>
</html>
