
    <div id="wrapper">

      <h1>New York Mets</h1>
      <h2><i>Latest News</i></h2>
      <div id="articles">
      </div>
      <div id="notes">Notes</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../public/assets/js/index.js"></script>

